# Configuración de Base de Datos Local
LOCAL_DB_HOST=localhost
LOCAL_DB_PORT=local_port
LOCAL_DB_USER=local_user
LOCAL_DB_PASSWORD=local_password
LOCAL_DB_NAME=db_name

# Configuración de Base de Datos Neon (Producción)
NEON_DATABASE_URL=postgresql://user:password@host/database?sslmode=require

# Configuración de la Aplicación
PORT=3000
NODE_ENV=development

# Configuración de Autenticación
RESEND_API_KEY=API_KEY
RESEND_EMAIL=example@email.com
JWT_SECRET=your_secret_key
JWT_REFRESH_SECRET=your_refresh_secret_key