NODE_ENV=node_env
PORT=12345678

LOCAL_DB_HOST=secrethost
LOCAL_DB_PORT=1234
LOCAL_DB_USER=secretuser
LOCAL_DB_PASSWORD=secretpassword
LOCAL_DB_NAME=secretdb

JWT_SECRET=super-hiper-ultra-secret-access-token-key-123456
JWT_EXPIRES_IN=10m

JWT_REFRESH_SECRET=super-ultra-secret-refresh-token-key-987654
JWT_REFRESH_EXPIRES_IN=7d

CLOUDINARY_CLOUD_NAME=cloudinarycloudname
CLOUDINARY_API_KEY=cloudinaryapykey
CLOUDINARY_API_SECRET=cloudinaryapisecret

AWS_ACCESS_KEY_ID = ABCDEFGHIJKLMNOPQ
AWS_SECRET_ACCESS_KEY = aws_secret_access_key
AWS_REGION = us
SQS_QUEUE_URL = https://just-a-fake-url.com/queue

NEON_DATABASE_URL=p